<%- include('../../fragments/header.ejs') %>
    <main>

        <p><a href="events/add" class="button-add">Dodaj nowego uczestnika event</a></p>
        <p><a href="events/details" class="list-actions-button-details">Szczegóły uczestnictwa</a></p>

    </main>
<%- include('../../fragments/footer.ejs') %>