<%- include('./fragments/header.ejs') %>
    <main>
        <h2><%= __('main-page.content') %></h2>
        <p>Witamy na stronie głównej DOSIR Warszawa. Dzięki niej możesz zarezerwować obiekt sportowy.</p>
    </main>
    
<%- include('./fragments/footer.ejs') %>